<!DOCTYPE html>
<html>
  <head>
    <title>NewsFlash</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tag %>
  
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    
    <% flash.each do |key,value| %>
      <div class = "alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
